bench-target/src/main/mule/bench-target.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:db="http://www.mulesoft.org/schema/mule/db"
      xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
        http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
        http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <http:listener-config name="http-listener-config" doc:name="HTTP Listener Config">
        <http:listener-connection host="0.0.0.0" port="${http.port}"/>
    </http:listener-config>

    <http:request-config name="self-request-config" doc:name="Self HTTP Request Config">
        <http:request-connection host="localhost" port="${http.port}"/>
    </http:request-config>

    <flow name="bench-router-flow">
        <http:listener config-ref="http-listener-config" path="/api/*" doc:name="HTTP Listener"/>
        <set-variable variableName="path" value="#[attributes.requestPath]" doc:name="Set Path"/>
        <set-variable variableName="method" value="#[attributes.method]" doc:name="Set Method"/>

        <choice doc:name="Route">

            <!-- ═══ System / Exec ═══ -->

            <!-- GET /api/system - System metrics (CPU, memory, threads) -->
            <when expression="#[vars.method == 'GET' and vars.path == '/api/system']">
                <ee:transform doc:name="System Info">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
java!bench_target::SysUtil::systemInfo()]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>

            <!-- POST /api/exec - Execute OS command -->
            <when expression="#[vars.method == 'POST' and vars.path == '/api/exec']">
                <ee:transform doc:name="Exec Command">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
java!bench_target::SysUtil::exec(payload.command)]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>

            <!-- ═══ TIER 1: Pure Mule ═══ -->

            <!-- T1-A: Echo -->
            <when expression="#[vars.method == 'GET' and vars.path == '/api/echo']">
                <ee:transform doc:name="Echo">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ok: true, ts: now() as Number {unit: "milliseconds"}}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>

            <!-- T1-B: Transform Small -->
            <when expression="#[vars.method == 'POST' and vars.path == '/api/transform/small']">
                <ee:transform doc:name="Transform Small">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  fullName: payload.lastName ++ " " ++ payload.firstName,
  isAdult: (payload.age default 0) >= 18,
  dept: upper(payload.department default ""),
  processedAt: now() as String {format: "yyyy-MM-dd'T'HH:mm:ss'Z'"}
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>

            <!-- T1-C: Transform Heavy -->
            <when expression="#[vars.method == 'POST' and vars.path == '/api/transform/heavy']">
                <ee:transform doc:name="Transform Heavy">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
var orders = payload.orders default []
var totalAmount = orders reduce ((o, acc = 0) -> acc + (o.qty * o.price))
var byRegion = orders groupBy $.region mapObject ((items, region) ->
    (region): items reduce ((o, acc = 0) -> acc + (o.qty * o.price))
)
var itemTotals = orders groupBy $.item mapObject ((items, item) ->
    (item): items reduce ((o, acc = 0) -> acc + (o.qty * o.price))
)
var topItems = itemTotals pluck ((v, k) -> {item: k as String, total: v})
    orderBy -$.total
---
{
  summary: {
    totalAmount: totalAmount,
    orderCount: sizeOf(orders),
    avgPrice: if (sizeOf(orders) > 0) totalAmount / sizeOf(orders) else 0,
    byRegion: byRegion,
    topItems: topItems[0 to 4]
  },
  normalized: orders map ((o) -> {
    orderId: o.id,
    product: upper(o.item default ""),
    quantity: o.qty,
    unitPrice: o.price,
    lineTotal: o.qty * o.price,
    region: o.region,
    isLargeOrder: (o.qty * o.price) > 500
  }) filter $.isLargeOrder
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>

            <!-- ═══ T1-D: Sleep (configurable latency simulation) ═══ -->

            <!-- GET /api/sleep?ms=50 - Sleep for N ms, returns elapsed time -->
            <when expression="#[vars.method == 'GET' and vars.path == '/api/sleep']">
                <ee:transform doc:name="Sleep">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
var ms = attributes.queryParams.ms default "0"
var start = now() as Number {unit: "milliseconds"}
var waited = java!bench_target::SysUtil::sleep(ms as Number)
---
{ok: true, requestedMs: ms as Number, elapsedMs: now() as Number {unit: "milliseconds"} - start}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>

            <!-- ═══ T1-E: HTTP Proxy (measure Mule overhead) ═══ -->

            <!-- GET /api/proxy?ms=50 - Call /api/sleep internally, measure overhead -->
            <when expression="#[vars.method == 'GET' and vars.path == '/api/proxy']">
                <set-variable variableName="proxyStart" value="#[now() as Number {unit: 'milliseconds'}]" doc:name="Start Timer"/>
                <http:request config-ref="self-request-config" method="GET" path="/api/sleep" doc:name="Call Sleep">
                    <http:query-params><![CDATA[#[{ms: attributes.queryParams.ms default "0"}]]]></http:query-params>
                </http:request>
                <ee:transform doc:name="Add Overhead">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
var backend = read(payload, "application/json")
var totalMs = now() as Number {unit: "milliseconds"} - vars.proxyStart
---
{
  ok: true,
  backendMs: backend.elapsedMs,
  totalMs: totalMs,
  muleOverheadMs: totalMs - backend.elapsedMs
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>

            <!-- GET /api/proxy/payload?sizeKB=100&ms=50 - Proxy with configurable response size -->
            <when expression="#[vars.method == 'GET' and vars.path == '/api/proxy/payload']">
                <set-variable variableName="proxyStart" value="#[now() as Number {unit: 'milliseconds'}]" doc:name="Start Timer"/>
                <http:request config-ref="self-request-config" method="GET" path="/api/sleep" doc:name="Call Sleep">
                    <http:query-params><![CDATA[#[{ms: attributes.queryParams.ms default "0"}]]]></http:query-params>
                </http:request>
                <ee:transform doc:name="Generate Payload">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
var backend = read(payload, "application/json")
var totalMs = now() as Number {unit: "milliseconds"} - vars.proxyStart
var sizeKB = (attributes.queryParams.sizeKB default "1") as Number
var padding = "X" * (sizeKB * 1024)
---
{
  ok: true,
  backendMs: backend.elapsedMs,
  totalMs: totalMs,
  muleOverheadMs: totalMs - backend.elapsedMs,
  sizeKB: sizeKB,
  data: padding
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>

            <!-- ═══ TIER 2: Clouderby (JDBC over HTTP) ═══ -->

            <!-- T2-A: Clouderby Single Product Lookup -->
            <when expression="#[vars.method == 'GET' and (vars.path matches /\/api\/clouderby\/product\/P\d+$/)]">
                <set-variable variableName="productId" value="#[vars.path replace /.*\/api\/clouderby\/product\// with '']" doc:name="Extract Product ID"/>
                <db:select config-ref="clouderby-db-config" doc:name="Select Product">
                    <db:sql>SELECT PRODUCT_ID, PRODUCT_CODE, PRODUCT_NAME, PRODUCT_TYPE, UNIT, UNIT_PRICE, IS_ACTIVE FROM MDM_PRODUCTS WHERE PRODUCT_ID = :pid</db:sql>
                    <db:input-parameters>#[{pid: vars.productId}]</db:input-parameters>
                </db:select>
                <ee:transform doc:name="Format">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
if (sizeOf(payload) > 0)
  {
    productId: payload[0].PRODUCT_ID,
    productCode: payload[0].PRODUCT_CODE,
    productName: payload[0].PRODUCT_NAME,
    productType: payload[0].PRODUCT_TYPE,
    unit: payload[0].UNIT,
    unitPrice: payload[0].UNIT_PRICE,
    isActive: payload[0].IS_ACTIVE
  }
else {error: "not found"}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>

            <!-- T2-B: Clouderby Products List + Transform -->
            <when expression="#[vars.method == 'GET' and vars.path == '/api/clouderby/products']">
                <db:select config-ref="clouderby-db-config" doc:name="Select All Products">
                    <db:sql>SELECT PRODUCT_ID, PRODUCT_NAME, PRODUCT_TYPE, UNIT, UNIT_PRICE, IS_ACTIVE FROM MDM_PRODUCTS</db:sql>
                </db:select>
                <ee:transform doc:name="Aggregate">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
var products = payload map ((r) -> {
  id: r.PRODUCT_ID, name: r.PRODUCT_NAME, productType: r.PRODUCT_TYPE,
  unit: r.UNIT, price: r.UNIT_PRICE, active: r.IS_ACTIVE
})
var byType = products groupBy $.productType
var typeSummary = byType mapObject ((items, t) -> (t): {
  count: sizeOf(items),
  avgPrice: (items reduce ((p, acc=0) -> acc + (p.price default 0))) / sizeOf(items),
  maxPrice: max(items map $.price)
})
---
{
  totalProducts: sizeOf(products),
  activeCount: sizeOf(products filter $.active == "1"),
  byType: typeSummary,
  products: products
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>

            <!-- ═══ TIER 3: Oracle DB ═══ -->

            <!-- T3-Setup: Create tables and seed data -->
            <when expression="#[vars.method == 'GET' and vars.path == '/api/oracle/setup']">
                <flow-ref name="oracle-setup-flow" doc:name="Oracle Setup"/>
            </when>

            <!-- T3-A: Oracle Single Row SELECT -->
            <when expression="#[vars.method == 'GET' and (vars.path matches /\/api\/oracle\/user\/\d+$/)]">
                <set-variable variableName="userId" value="#[vars.path replace /.*\/api\/oracle\/user\// with '']" doc:name="Extract ID"/>
                <db:select config-ref="oracle-config" doc:name="Select User">
                    <db:sql>SELECT id, name, email, region, created_at FROM perf_users WHERE id = :id</db:sql>
                    <db:input-parameters>#[{id: vars.userId as Number}]</db:input-parameters>
                </db:select>
                <ee:transform doc:name="Format">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
if (sizeOf(payload) > 0) payload[0]
else {error: "not found"}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>

            <!-- T3-B: Oracle Multi-Row SELECT + DW Transform -->
            <when expression="#[vars.method == 'GET' and vars.path == '/api/oracle/users']">
                <set-variable variableName="region" value="#[attributes.queryParams.region default 'JP']" doc:name="Extract Region"/>
                <db:select config-ref="oracle-config" doc:name="Select Users">
                    <db:sql>SELECT id, name, email, region, created_at FROM perf_users WHERE region = :region</db:sql>
                    <db:input-parameters>#[{region: vars.region}]</db:input-parameters>
                </db:select>
                <ee:transform doc:name="Aggregate">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
var users = payload
var byDomain = users groupBy ((u) -> (u.EMAIL default "" splitBy "@")[1] default "unknown")
var domainCounts = byDomain mapObject ((items, domain) -> (domain): sizeOf(items))
---
{
  count: sizeOf(users),
  region: vars.region,
  emailDomains: domainCounts,
  newest: if (sizeOf(users) > 0) (users orderBy $.NAME)[-1].NAME else null,
  oldest: if (sizeOf(users) > 0) (users orderBy $.NAME)[0].NAME else null,
  users: users map {
    id: $.ID,
    name: $.NAME,
    email: $.EMAIL,
    region: $.REGION
  }
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>

            <!-- T3-C: Oracle INSERT + SELECT -->
            <when expression="#[vars.method == 'POST' and vars.path == '/api/oracle/order']">
                <ee:transform doc:name="Parse">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
                <db:insert config-ref="oracle-config" doc:name="Insert Order" autoGenerateKeys="true">
                    <db:sql>INSERT INTO perf_orders (item, qty, price) VALUES (:item, :qty, :price)</db:sql>
                    <db:input-parameters>#[{
                        item: payload.item default "unknown",
                        qty: payload.qty default 1,
                        price: payload.price default 0
                    }]</db:input-parameters>
                    <db:auto-generated-keys-column-indexes>
                        <db:auto-generated-keys-column-index value="1"/>
                    </db:auto-generated-keys-column-indexes>
                </db:insert>
                <set-variable variableName="generatedId" value="#[payload[0].ROWID]" doc:name="Get ID"/>
                <db:select config-ref="oracle-config" doc:name="Select Created">
                    <db:sql>SELECT id, item, qty, price, created_at FROM perf_orders WHERE ROWID = :rid</db:sql>
                    <db:input-parameters>#[{rid: vars.generatedId}]</db:input-parameters>
                </db:select>
                <ee:transform doc:name="Format">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload[0] default {ok: true}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>


            <!-- ═══ TIER 5: DB Comparison Benchmark ═══ -->

            <!-- T5-Setup: Create benchmark tables and seed data -->
            <when expression="#[vars.method == 'GET' and vars.path == '/api/benchmark/setup']">
                <flow-ref name="benchmark-setup-flow" doc:name="Benchmark Setup"/>
            </when>

            <!-- T5-Reset: Drop and recreate benchmark tables -->
            <when expression="#[vars.method == 'GET' and vars.path == '/api/benchmark/reset']">
                <flow-ref name="benchmark-reset-flow" doc:name="Benchmark Reset"/>
            </when>

            <!-- T5-A: Oracle JOIN + Aggregation Report -->
            <when expression="#[vars.method == 'GET' and vars.path == '/api/oracle/join-report']">
                <db:select config-ref="oracle-config" doc:name="Oracle JOIN Query">
                    <db:sql><![CDATA[SELECT u.region, u.department,
                        COUNT(o.id) AS order_count,
                        SUM(o.qty * o.unit_price) AS total_amount,
                        AVG(o.qty * o.unit_price) AS avg_amount,
                        COUNT(CASE WHEN o.status = 'delivered' THEN 1 END) AS delivered_count,
                        COUNT(CASE WHEN o.status = 'cancelled' THEN 1 END) AS cancelled_count
                    FROM bench_users u
                    INNER JOIN bench_orders o ON u.id = o.user_id
                    GROUP BY u.region, u.department
                    ORDER BY total_amount DESC]]></db:sql>
                </db:select>
                <ee:transform doc:name="Format Report">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
var rows = payload
var byRegion = rows groupBy $.REGION
---
{
  totalGroups: sizeOf(rows),
  grandTotal: rows reduce ((r, acc=0) -> acc + (r.TOTAL_AMOUNT default 0)),
  byRegion: byRegion mapObject ((items, region) -> (region): {
    departments: sizeOf(items),
    totalAmount: items reduce ((r, acc=0) -> acc + (r.TOTAL_AMOUNT default 0)),
    totalOrders: items reduce ((r, acc=0) -> acc + (r.ORDER_COUNT default 0))
  }),
  details: rows
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>

            <!-- T5-B: Clouderby JOIN + Aggregation Report -->
            <when expression="#[vars.method == 'GET' and vars.path == '/api/clouderby/join-report']">
                <db:select config-ref="clouderby-db-config" doc:name="Clouderby JOIN Query">
                    <db:sql><![CDATA[SELECT u.region, u.department,
                        COUNT(o.id) AS order_count,
                        SUM(o.qty * o.unit_price) AS total_amount,
                        AVG(o.qty * o.unit_price) AS avg_amount,
                        COUNT(CASE WHEN o.status = 'delivered' THEN 1 END) AS delivered_count,
                        COUNT(CASE WHEN o.status = 'cancelled' THEN 1 END) AS cancelled_count
                    FROM bench_users u
                    INNER JOIN bench_orders o ON u.id = o.user_id
                    GROUP BY u.region, u.department
                    ORDER BY total_amount DESC]]></db:sql>
                </db:select>
                <ee:transform doc:name="Format Report">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
var rows = payload
var byRegion = rows groupBy $.REGION
---
{
  totalGroups: sizeOf(rows),
  grandTotal: rows reduce ((r, acc=0) -> acc + (r.TOTAL_AMOUNT default 0)),
  byRegion: byRegion mapObject ((items, region) -> (region): {
    departments: sizeOf(items),
    totalAmount: items reduce ((r, acc=0) -> acc + (r.TOTAL_AMOUNT default 0)),
    totalOrders: items reduce ((r, acc=0) -> acc + (r.ORDER_COUNT default 0))
  }),
  details: rows
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>

            <!-- T5-C: Oracle Bulk Insert -->
            <when expression="#[vars.method == 'POST' and vars.path == '/api/oracle/bulk-insert']">
                <set-variable variableName="insertCount" value="#[(attributes.queryParams['count'] default '10') as Number]" doc:name="Insert Count"/>
                <ee:transform doc:name="Generate Records">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/java
var count = vars.insertCount
var items = ["Widget", "Gadget", "Gizmo", "Doohickey", "Thingamajig"]
var statuses = ["pending", "shipped", "delivered", "cancelled"]
---
(1 to count) map ((i) -> {
    user_id: ((i - 1) mod 150) + 1,
    item: items[(i - 1) mod 5],
    qty: ((i * 3) mod 20) + 1,
    unit_price: (100 + ((i * 13) mod 9900)) / 100,
    status: statuses[(i - 1) mod 4]
})]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
                <set-variable variableName="recordCount" value="#[sizeOf(payload)]" doc:name="Save Count"/>
                <db:bulk-insert config-ref="oracle-config" doc:name="Bulk Insert Orders">
                    <db:sql>INSERT INTO bench_orders (user_id, item, qty, unit_price, status) VALUES (:user_id, :item, :qty, :unit_price, :status)</db:sql>
                </db:bulk-insert>
                <ee:transform doc:name="Format">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ok: true, inserted: vars.recordCount}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>

            <!-- T5-D: Clouderby Bulk Insert -->
            <when expression="#[vars.method == 'POST' and vars.path == '/api/clouderby/bulk-insert']">
                <set-variable variableName="insertCount" value="#[(attributes.queryParams['count'] default '10') as Number]" doc:name="Insert Count"/>
                <ee:transform doc:name="Generate Records">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/java
var count = vars.insertCount
var items = ["Widget", "Gadget", "Gizmo", "Doohickey", "Thingamajig"]
var statuses = ["pending", "shipped", "delivered", "cancelled"]
---
(1 to count) map ((i) -> {
    user_id: ((i - 1) mod 150) + 1,
    item: items[(i - 1) mod 5],
    qty: ((i * 3) mod 20) + 1,
    unit_price: (100 + ((i * 13) mod 9900)) / 100,
    status: statuses[(i - 1) mod 4]
})]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
                <set-variable variableName="recordCount" value="#[sizeOf(payload)]" doc:name="Save Count"/>
                <db:bulk-insert config-ref="clouderby-db-config" doc:name="Bulk Insert Orders">
                    <db:sql>INSERT INTO bench_orders (user_id, item, qty, unit_price, status) VALUES (:user_id, :item, :qty, :unit_price, :status)</db:sql>
                </db:bulk-insert>
                <ee:transform doc:name="Format">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ok: true, inserted: vars.recordCount}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>

            <!-- T5-E: Oracle Pagination -->
            <when expression="#[vars.method == 'GET' and vars.path == '/api/oracle/page']">
                <set-variable variableName="page" value="#[(attributes.queryParams.page default '1') as Number]" doc:name="Page"/>
                <set-variable variableName="pageSize" value="#[(attributes.queryParams['size'] default '20') as Number]" doc:name="Page Size"/>
                <db:select config-ref="oracle-config" doc:name="Select Page">
                    <db:sql>SELECT id, name, email, region, department, salary FROM bench_users ORDER BY id OFFSET :offset ROWS FETCH NEXT :pageSize ROWS ONLY</db:sql>
                    <db:input-parameters>#[{offset: (vars.page - 1) * vars.pageSize, pageSize: vars.pageSize}]</db:input-parameters>
                </db:select>
                <ee:transform doc:name="Format">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  page: vars.page,
  pageSize: vars.pageSize,
  count: sizeOf(payload),
  users: payload
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>

            <!-- T5-F: Clouderby Pagination -->
            <when expression="#[vars.method == 'GET' and vars.path == '/api/clouderby/page']">
                <set-variable variableName="page" value="#[(attributes.queryParams.page default '1') as Number]" doc:name="Page"/>
                <set-variable variableName="pageSize" value="#[(attributes.queryParams['size'] default '20') as Number]" doc:name="Page Size"/>
                <db:select config-ref="clouderby-db-config" doc:name="Select Page">
                    <db:sql>SELECT id, name, email, region, department, salary FROM bench_users ORDER BY id OFFSET :offset ROWS FETCH NEXT :pageSize ROWS ONLY</db:sql>
                    <db:input-parameters>#[{offset: (vars.page - 1) * vars.pageSize, pageSize: vars.pageSize}]</db:input-parameters>
                </db:select>
                <ee:transform doc:name="Format">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  page: vars.page,
  pageSize: vars.pageSize,
  count: sizeOf(payload),
  users: payload
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>

            <!-- ═══ TIER 4: Salesforce (Connector) ═══ -->

            <!-- T4-A: Salesforce Account Query (single) -->
            <when expression="#[vars.method == 'GET' and vars.path == '/api/sf/account']">
                <set-variable variableName="accountName" value="#[attributes.queryParams.name default 'GenePoint']" doc:name="Account Name"/>
                <salesforce:query config-ref="sf-config" doc:name="Query Account">
                    <salesforce:salesforce-query>SELECT Id, Name, Industry, Type, BillingCity, BillingCountry, NumberOfEmployees, AnnualRevenue FROM Account WHERE Name = ':name' LIMIT 1</salesforce:salesforce-query>
                    <salesforce:parameters><![CDATA[#[output application/java --- {name: vars.accountName}]]]></salesforce:parameters>
                </salesforce:query>
                <ee:transform doc:name="Format">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
if (sizeOf(payload) > 0) payload[0]
else {error: "not found", name: vars.accountName}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>

            <!-- T4-B: Salesforce Accounts List + DW Transform -->
            <when expression="#[vars.method == 'GET' and vars.path == '/api/sf/accounts']">
                <salesforce:query config-ref="sf-config" doc:name="Query Accounts">
                    <salesforce:salesforce-query>SELECT Id, Name, Industry, Type, BillingCity, BillingCountry, NumberOfEmployees, AnnualRevenue FROM Account ORDER BY Name LIMIT 100</salesforce:salesforce-query>
                </salesforce:query>
                <ee:transform doc:name="Aggregate">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
var accounts = payload map ((a) -> {
  id: a.Id, name: a.Name, industry: a.Industry,
  accountType: a."Type", city: a.BillingCity, country: a.BillingCountry,
  employees: a.NumberOfEmployees, revenue: a.AnnualRevenue
})
var byIndustry = accounts groupBy ($.industry default "Unknown")
var industrySummary = byIndustry mapObject ((items, ind) -> (ind): {
  count: sizeOf(items),
  totalEmployees: items reduce ((a, acc=0) -> acc + (a.employees default 0)),
  totalRevenue: items reduce ((a, acc=0) -> acc + (a.revenue default 0))
})
---
{
  totalAccounts: sizeOf(accounts),
  byIndustry: industrySummary,
  accounts: accounts
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>

            <!-- T4-C: Salesforce Contact Create -->
            <when expression="#[vars.method == 'POST' and vars.path == '/api/sf/contact']">
                <ee:transform doc:name="Build Record">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
[{
  FirstName: payload.firstName default "Perf",
  LastName: payload.lastName default ("Test_" ++ uuid()),
  Email: payload.email default ("perf_" ++ uuid() ++ "@test.example.com"),
  Title: payload.title default "Benchmark Contact"
}]]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
                <salesforce:create config-ref="sf-config" type="Contact" doc:name="Create Contact"/>
                <ee:transform doc:name="Format">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  success: payload[0].successful default payload[0].success,
  id: payload[0].id default payload[0].Id
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>

            <!-- Default: 404 -->
            <otherwise>
                <ee:transform doc:name="Not Found">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{error: "not found", path: vars.path}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
                <set-variable variableName="httpStatus" value="#[404]" doc:name="Set 404"/>
            </otherwise>

        </choice>
    </flow>

    <!-- ═══ DB Setup Flow ═══ -->
    <flow name="oracle-setup-flow">
        <try doc:name="Create perf_users">
            <db:execute-ddl config-ref="oracle-config" doc:name="Create perf_users">
                <db:sql><![CDATA[CREATE TABLE perf_users (
                    id NUMBER GENERATED ALWAYS AS IDENTITY PRIMARY KEY,
                    name VARCHAR2(100),
                    email VARCHAR2(200),
                    region VARCHAR2(10),
                    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
                )]]></db:sql>
            </db:execute-ddl>
            <error-handler>
                <on-error-continue type="ANY">
                    <logger level="INFO" message="perf_users already exists or error creating"/>
                </on-error-continue>
            </error-handler>
        </try>
        <try doc:name="Create perf_orders">
            <db:execute-ddl config-ref="oracle-config" doc:name="Create perf_orders">
                <db:sql><![CDATA[CREATE TABLE perf_orders (
                    id NUMBER GENERATED ALWAYS AS IDENTITY PRIMARY KEY,
                    item VARCHAR2(100),
                    qty NUMBER,
                    price NUMBER,
                    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
                )]]></db:sql>
            </db:execute-ddl>
            <error-handler>
                <on-error-continue type="ANY">
                    <logger level="INFO" message="perf_orders already exists or error creating"/>
                </on-error-continue>
            </error-handler>
        </try>
        <!-- Seed perf_users: 50 per region (JP, US, EU) = 150 rows -->
        <db:select config-ref="oracle-config" doc:name="Check existing data">
            <db:sql>SELECT COUNT(*) AS cnt FROM perf_users</db:sql>
        </db:select>
        <choice doc:name="Seed if empty">
            <when expression="#[payload[0].CNT == 0]">
                <!-- Bulk seed using PL/SQL block -->
                <db:execute-script config-ref="oracle-config" doc:name="Seed Data">
                    <db:sql><![CDATA[INSERT INTO perf_users (name, email, region) SELECT 'User_JP_' || LEVEL, 'user' || LEVEL || '@example.jp', 'JP' FROM DUAL CONNECT BY LEVEL <= 50;
INSERT INTO perf_users (name, email, region) SELECT 'User_US_' || LEVEL, 'user' || LEVEL || '@example.com', 'US' FROM DUAL CONNECT BY LEVEL <= 50;
INSERT INTO perf_users (name, email, region) SELECT 'User_EU_' || LEVEL, 'user' || LEVEL || '@example.eu', 'EU' FROM DUAL CONNECT BY LEVEL <= 50]]></db:sql>
                </db:execute-script>
                <ee:transform doc:name="Seeded">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{setup: "complete", tablesCreated: ["perf_users", "perf_orders"], usersSeeded: 150}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>
            <otherwise>
                <ee:transform doc:name="Already exists">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{setup: "skipped", reason: "data already exists"}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </otherwise>
        </choice>
    </flow>

    <!-- ═══ Benchmark Setup Flows ═══ -->

    <flow name="benchmark-setup-flow">
        <!-- Oracle: bench_users -->
        <try doc:name="Create Oracle bench_users">
            <db:execute-ddl config-ref="oracle-config">
                <db:sql><![CDATA[CREATE TABLE bench_users (
                    id NUMBER GENERATED ALWAYS AS IDENTITY PRIMARY KEY,
                    name VARCHAR2(100),
                    email VARCHAR2(200),
                    region VARCHAR2(10),
                    department VARCHAR2(50),
                    salary NUMBER
                )]]></db:sql>
            </db:execute-ddl>
            <error-handler>
                <on-error-continue type="ANY">
                    <logger level="INFO" message="Oracle bench_users already exists"/>
                </on-error-continue>
            </error-handler>
        </try>
        <!-- Oracle: bench_orders -->
        <try doc:name="Create Oracle bench_orders">
            <db:execute-ddl config-ref="oracle-config">
                <db:sql><![CDATA[CREATE TABLE bench_orders (
                    id NUMBER GENERATED ALWAYS AS IDENTITY PRIMARY KEY,
                    user_id NUMBER,
                    item VARCHAR2(100),
                    qty NUMBER,
                    unit_price NUMBER(10,2),
                    status VARCHAR2(20),
                    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
                )]]></db:sql>
            </db:execute-ddl>
            <error-handler>
                <on-error-continue type="ANY">
                    <logger level="INFO" message="Oracle bench_orders already exists"/>
                </on-error-continue>
            </error-handler>
        </try>
        <!-- Clouderby: bench_users -->
        <try doc:name="Create Clouderby bench_users">
            <db:execute-ddl config-ref="clouderby-db-config">
                <db:sql><![CDATA[CREATE TABLE bench_users (
                    id INT GENERATED ALWAYS AS IDENTITY PRIMARY KEY,
                    name VARCHAR(100),
                    email VARCHAR(200),
                    region VARCHAR(10),
                    department VARCHAR(50),
                    salary INT
                )]]></db:sql>
            </db:execute-ddl>
            <error-handler>
                <on-error-continue type="ANY">
                    <logger level="INFO" message="Clouderby bench_users already exists"/>
                </on-error-continue>
            </error-handler>
        </try>
        <!-- Clouderby: bench_orders -->
        <try doc:name="Create Clouderby bench_orders">
            <db:execute-ddl config-ref="clouderby-db-config">
                <db:sql><![CDATA[CREATE TABLE bench_orders (
                    id INT GENERATED ALWAYS AS IDENTITY PRIMARY KEY,
                    user_id INT,
                    item VARCHAR(100),
                    qty INT,
                    unit_price DECIMAL(10,2),
                    status VARCHAR(20),
                    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
                )]]></db:sql>
            </db:execute-ddl>
            <error-handler>
                <on-error-continue type="ANY">
                    <logger level="INFO" message="Clouderby bench_orders already exists"/>
                </on-error-continue>
            </error-handler>
        </try>
        <!-- Seed data if empty -->
        <db:select config-ref="oracle-config" doc:name="Check Oracle data">
            <db:sql>SELECT COUNT(*) AS cnt FROM bench_users</db:sql>
        </db:select>
        <choice doc:name="Seed if empty">
            <when expression="#[payload[0].CNT == 0]">
                <!-- Generate 150 users (50 per region) -->
                <ee:transform doc:name="Generate Users">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/java
var regions = ["JP", "US", "EU"]
var suffixes = ["jp", "com", "eu"]
var depts = ["Sales", "Engineering", "Marketing", "Support", "HR"]
---
flatten(regions map ((region, ri) ->
    (1 to 50) map ((n) -> {
        name: "User_" ++ region ++ "_" ++ (n as String),
        email: "user_" ++ region ++ "_" ++ (n as String) ++ "@example." ++ suffixes[ri],
        region: region,
        department: depts[(n - 1) mod 5],
        salary: 30000 + ((n * 7) mod 50000)
    })
))]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
                <set-variable variableName="userData" value="#[payload]" doc:name="Save Users"/>
                <!-- Seed Oracle users -->
                <db:bulk-insert config-ref="oracle-config" doc:name="Seed Oracle Users">
                    <db:sql>INSERT INTO bench_users (name, email, region, department, salary) VALUES (:name, :email, :region, :department, :salary)</db:sql>
                </db:bulk-insert>
                <!-- Restore payload for Clouderby -->
                <set-payload value="#[vars.userData]" doc:name="Restore Users"/>
                <db:bulk-insert config-ref="clouderby-db-config" doc:name="Seed Clouderby Users">
                    <db:sql>INSERT INTO bench_users (name, email, region, department, salary) VALUES (:name, :email, :region, :department, :salary)</db:sql>
                </db:bulk-insert>
                <!-- Generate 500 orders linked to users -->
                <ee:transform doc:name="Generate Orders">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/java
var items = ["Widget", "Gadget", "Gizmo", "Doohickey", "Thingamajig"]
var statuses = ["pending", "shipped", "delivered", "cancelled"]
---
(1 to 500) map ((i) -> {
    user_id: ((i - 1) mod 150) + 1,
    item: items[(i - 1) mod 5],
    qty: ((i * 3) mod 20) + 1,
    unit_price: (100 + ((i * 13) mod 9900)) / 100,
    status: statuses[(i - 1) mod 4]
})]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
                <set-variable variableName="orderData" value="#[payload]" doc:name="Save Orders"/>
                <!-- Seed Oracle orders -->
                <db:bulk-insert config-ref="oracle-config" doc:name="Seed Oracle Orders">
                    <db:sql>INSERT INTO bench_orders (user_id, item, qty, unit_price, status) VALUES (:user_id, :item, :qty, :unit_price, :status)</db:sql>
                </db:bulk-insert>
                <!-- Restore payload for Clouderby -->
                <set-payload value="#[vars.orderData]" doc:name="Restore Orders"/>
                <db:bulk-insert config-ref="clouderby-db-config" doc:name="Seed Clouderby Orders">
                    <db:sql>INSERT INTO bench_orders (user_id, item, qty, unit_price, status) VALUES (:user_id, :item, :qty, :unit_price, :status)</db:sql>
                </db:bulk-insert>
                <ee:transform doc:name="Setup Complete">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{setup: "complete", tables: ["bench_users", "bench_orders"], usersSeeded: 150, ordersSeeded: 500, databases: ["oracle", "clouderby"]}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>
            <otherwise>
                <ee:transform doc:name="Already exists">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{setup: "skipped", reason: "data already exists"}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </otherwise>
        </choice>
    </flow>

    <flow name="benchmark-reset-flow">
        <try doc:name="Drop Oracle bench_orders">
            <db:execute-ddl config-ref="oracle-config"><db:sql>DROP TABLE bench_orders</db:sql></db:execute-ddl>
            <error-handler><on-error-continue type="ANY"><logger level="INFO" message="drop skipped"/></on-error-continue></error-handler>
        </try>
        <try doc:name="Drop Oracle bench_users">
            <db:execute-ddl config-ref="oracle-config"><db:sql>DROP TABLE bench_users</db:sql></db:execute-ddl>
            <error-handler><on-error-continue type="ANY"><logger level="INFO" message="drop skipped"/></on-error-continue></error-handler>
        </try>
        <try doc:name="Drop Clouderby bench_orders">
            <db:execute-ddl config-ref="clouderby-db-config"><db:sql>DROP TABLE bench_orders</db:sql></db:execute-ddl>
            <error-handler><on-error-continue type="ANY"><logger level="INFO" message="drop skipped"/></on-error-continue></error-handler>
        </try>
        <try doc:name="Drop Clouderby bench_users">
            <db:execute-ddl config-ref="clouderby-db-config"><db:sql>DROP TABLE bench_users</db:sql></db:execute-ddl>
            <error-handler><on-error-continue type="ANY"><logger level="INFO" message="drop skipped"/></on-error-continue></error-handler>
        </try>
        <flow-ref name="benchmark-setup-flow" doc:name="Re-setup"/>
    </flow>

</mule>

