src/main/mule/impl/load-executor.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:os="http://www.mulesoft.org/schema/mule/os"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
        http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <!-- Load test executor using Zeph NIO HTTP client via Java bridge.
         All worker threads and metrics collection happen in Java
         for maximum throughput with zero Mule flow overhead. -->
    <sub-flow name="execute-load-test-flow" doc:name="Execute Load Test (Zeph)">
        <logger level="INFO" message='#["Starting Zeph load test " ++ vars.testId ++ " -> " ++ vars.testConfig.targetUrl ++ " (concurrency=" ++ (vars.testConfig.concurrency as String) ++ ", duration=" ++ (vars.testConfig.duration as String) ++ "s)"]' doc:name="Log Start"/>

        <!-- Start load test via Zeph NIO — returns immediately with Java test ID -->
        <ee:transform doc:name="Start Zeph Load Test">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
java!com::mycompany::perf::LoadRunner::start(
    vars.testConfig.targetUrl,
    vars.testConfig.method,
    vars.testConfig.concurrency,
    vars.testConfig.duration
)]]></ee:set-payload>
            </ee:message>
        </ee:transform>

        <!-- Store Java test ID for metrics lookup -->
        <set-variable variableName="javaTestId" value="#[payload]" doc:name="Store Java Test ID"/>

        <!-- Save mapping: mule testId -> java testId -->
        <os:store key="#[vars.testId ++ '-java']" objectStore="test-store" doc:name="Save Java Test ID Mapping">
            <os:value>#[vars.javaTestId]</os:value>
        </os:store>

        <!-- Wait for completion in background, then update status -->
        <flow-ref name="wait-for-completion-flow" doc:name="Wait for Completion"/>

        <logger level="INFO" message='#["Load test " ++ vars.testId ++ " completed"]' doc:name="Log Complete"/>
    </sub-flow>

    <!-- Wait for test completion (polls Java LoadRunner status), then mark completed -->
    <flow name="wait-for-completion-flow" doc:name="Wait for Completion">
        <foreach collection="#[1 to (vars.testConfig.duration + 10)]" doc:name="Wait Loop">
            <choice doc:name="Check Status">
                <when expression="#[java!com::mycompany::perf::LoadRunner::status(vars.javaTestId).status != 'running']">
                    <raise-error type="APP:WAIT_DONE" description="Test finished"/>
                </when>
                <otherwise>
                    <set-variable variableName="sleepResult" value="#[import * from dw::Runtime --- true wait 1000]" doc:name="Sleep 1s"/>
                </otherwise>
            </choice>
        </foreach>

        <!-- Duration expired naturally: mark completed -->
        <flow-ref name="mark-test-completed-flow" doc:name="Mark Completed"/>

        <error-handler>
            <on-error-continue type="APP:WAIT_DONE">
                <logger level="DEBUG" message="Test finished, updating state" doc:name="Done"/>

                <os:retrieve key="#[vars.testId]" objectStore="test-store" doc:name="Get State">
                    <os:default-value>#[output application/java --- {status: "stopped"}]</os:default-value>
                </os:retrieve>

                <choice doc:name="Mark Complete If Running">
                    <when expression="#[payload.status == 'running']">
                        <ee:transform doc:name="Set Completed">
                            <ee:message>
                                <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload ++ {
    status: "completed",
    completedAt: now() as String {format: "yyyy-MM-dd'T'HH:mm:ss.SSS'Z'"}
}]]></ee:set-payload>
                            </ee:message>
                        </ee:transform>

                        <os:store key="#[vars.testId]" objectStore="test-store" doc:name="Save Final State">
                            <os:value>#[payload]</os:value>
                        </os:store>
                    </when>
                    <otherwise>
                        <logger level="DEBUG" message="Already stopped" doc:name="Already Stopped"/>
                    </otherwise>
                </choice>
            </on-error-continue>
        </error-handler>
    </flow>

    <!-- Mark test as completed in ObjectStore -->
    <sub-flow name="mark-test-completed-flow" doc:name="Mark Test Completed">
        <os:retrieve key="#[vars.testId]" objectStore="test-store" doc:name="Get State">
            <os:default-value>#[output application/java --- {status: "unknown"}]</os:default-value>
        </os:retrieve>
        <choice doc:name="Still Running?">
            <when expression="#[payload.status == 'running']">
                <ee:transform doc:name="Set Completed">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload ++ {
    status: "completed",
    completedAt: now() as String {format: "yyyy-MM-dd'T'HH:mm:ss.SSS'Z'"}
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
                <os:store key="#[vars.testId]" objectStore="test-store" doc:name="Save Final State">
                    <os:value>#[payload]</os:value>
                </os:store>
                <logger level="INFO" message='#["Test " ++ vars.testId ++ " marked as completed"]' doc:name="Log Completed"/>
            </when>
            <otherwise>
                <logger level="DEBUG" message="Already stopped/completed" doc:name="Skip"/>
            </otherwise>
        </choice>
    </sub-flow>

    <!-- POST /api/test-connection - Send a single request to verify connectivity -->
    <sub-flow name="test-connection-flow" doc:name="Test Connection">
        <ee:transform doc:name="Parse Request">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <set-variable variableName="connTestUrl" value="#[payload.targetUrl]" doc:name="Target URL"/>
        <set-variable variableName="connTestMethod" value="#[payload.method default 'GET']" doc:name="Method"/>
        <set-variable variableName="connTestStart" value="#[now() as Number {unit: 'milliseconds'}]" doc:name="Start Time"/>

        <try doc:name="Try Connection">
            <http:request config-ref="http-request-config" method="#[vars.connTestMethod]"
                          url="#[vars.connTestUrl]" doc:name="Test Request">
                <http:response-validator>
                    <http:success-status-code-validator values="100..599"/>
                </http:response-validator>
            </http:request>

            <ee:transform doc:name="Success Response">
                <ee:message>
                    <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    success: true,
    statusCode: attributes.statusCode,
    elapsed: (now() as Number {unit: "milliseconds"}) - vars.connTestStart,
    message: "$(attributes.statusCode) $(attributes.reasonPhrase default '')"
}]]></ee:set-payload>
                </ee:message>
            </ee:transform>

            <error-handler>
                <on-error-continue type="ANY">
                    <ee:transform doc:name="Error Response">
                        <ee:message>
                            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    success: false,
    statusCode: 0,
    elapsed: (now() as Number {unit: "milliseconds"}) - vars.connTestStart,
    message: error.description default "Connection failed"
}]]></ee:set-payload>
                        </ee:message>
                    </ee:transform>
                </on-error-continue>
            </error-handler>
        </try>
    </sub-flow>

</mule>
